@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --container-width: 1200px;
  --accent-white: #C1C1C1;
  --primary-color: #FFCB74;
  --secondary-color: #133247;
  --font-color: #737373;
  --font-color-dark: #133247;
  --primary-font: "Oxygen", serif;
  --secondary-font: "Philosopher", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

body {
  font-size: 18px;
  font-family: var(--primary-font);
  line-height: 1.77;
  color: var(--font-color);
}

.container {
  width: min(100% - 40px, var(--container-width));
  margin: 0 auto;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
}

p:not(:last-child) {
  margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--secondary-font);
  color: var(--font-color-dark);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.color-primary {
  color: var(--primary-color);
}

.gap-1 {
  gap: 1px;
}

.gap-2 {
  gap: 2px;
}

.gap-3 {
  gap: 3px;
}

.gap-4 {
  gap: 4px;
}

.gap-5 {
  gap: 5px;
}

.gap-6 {
  gap: 6px;
}

.gap-7 {
  gap: 7px;
}

.gap-8 {
  gap: 8px;
}

.gap-9 {
  gap: 9px;
}

.gap-10 {
  gap: 10px;
}

.gap-11 {
  gap: 11px;
}

.gap-12 {
  gap: 12px;
}

.gap-13 {
  gap: 13px;
}

.gap-14 {
  gap: 14px;
}

.gap-15 {
  gap: 15px;
}

.gap-16 {
  gap: 16px;
}

.gap-17 {
  gap: 17px;
}

.gap-18 {
  gap: 18px;
}

.gap-19 {
  gap: 19px;
}

.gap-20 {
  gap: 20px;
}

.gap-21 {
  gap: 21px;
}

.gap-22 {
  gap: 22px;
}

.gap-23 {
  gap: 23px;
}

.gap-24 {
  gap: 24px;
}

.gap-25 {
  gap: 25px;
}

.gap-26 {
  gap: 26px;
}

.gap-27 {
  gap: 27px;
}

.gap-28 {
  gap: 28px;
}

.gap-29 {
  gap: 29px;
}

.gap-30 {
  gap: 30px;
}

.gap-31 {
  gap: 31px;
}

.gap-32 {
  gap: 32px;
}

.gap-33 {
  gap: 33px;
}

.gap-34 {
  gap: 34px;
}

.gap-35 {
  gap: 35px;
}

.gap-36 {
  gap: 36px;
}

.gap-37 {
  gap: 37px;
}

.gap-38 {
  gap: 38px;
}

.gap-39 {
  gap: 39px;
}

.gap-40 {
  gap: 40px;
}

.gap-41 {
  gap: 41px;
}

.gap-42 {
  gap: 42px;
}

.gap-43 {
  gap: 43px;
}

.gap-44 {
  gap: 44px;
}

.gap-45 {
  gap: 45px;
}

.gap-46 {
  gap: 46px;
}

.gap-47 {
  gap: 47px;
}

.gap-48 {
  gap: 48px;
}

.gap-49 {
  gap: 49px;
}

.gap-50 {
  gap: 50px;
}

.gap-51 {
  gap: 51px;
}

.gap-52 {
  gap: 52px;
}

.gap-53 {
  gap: 53px;
}

.gap-54 {
  gap: 54px;
}

.gap-55 {
  gap: 55px;
}

.gap-56 {
  gap: 56px;
}

.gap-57 {
  gap: 57px;
}

.gap-58 {
  gap: 58px;
}

.gap-59 {
  gap: 59px;
}

.gap-60 {
  gap: 60px;
}

.gap-61 {
  gap: 61px;
}

.gap-62 {
  gap: 62px;
}

.gap-63 {
  gap: 63px;
}

.gap-64 {
  gap: 64px;
}

.gap-65 {
  gap: 65px;
}

.gap-66 {
  gap: 66px;
}

.gap-67 {
  gap: 67px;
}

.gap-68 {
  gap: 68px;
}

.gap-69 {
  gap: 69px;
}

.gap-70 {
  gap: 70px;
}

.gap-71 {
  gap: 71px;
}

.gap-72 {
  gap: 72px;
}

.gap-73 {
  gap: 73px;
}

.gap-74 {
  gap: 74px;
}

.gap-75 {
  gap: 75px;
}

.gap-76 {
  gap: 76px;
}

.gap-77 {
  gap: 77px;
}

.gap-78 {
  gap: 78px;
}

.gap-79 {
  gap: 79px;
}

.gap-80 {
  gap: 80px;
}

.gap-81 {
  gap: 81px;
}

.gap-82 {
  gap: 82px;
}

.gap-83 {
  gap: 83px;
}

.gap-84 {
  gap: 84px;
}

.gap-85 {
  gap: 85px;
}

.gap-86 {
  gap: 86px;
}

.gap-87 {
  gap: 87px;
}

.gap-88 {
  gap: 88px;
}

.gap-89 {
  gap: 89px;
}

.gap-90 {
  gap: 90px;
}

.gap-91 {
  gap: 91px;
}

.gap-92 {
  gap: 92px;
}

.gap-93 {
  gap: 93px;
}

.gap-94 {
  gap: 94px;
}

.gap-95 {
  gap: 95px;
}

.gap-96 {
  gap: 96px;
}

.gap-97 {
  gap: 97px;
}

.gap-98 {
  gap: 98px;
}

.gap-99 {
  gap: 99px;
}

.gap-100 {
  gap: 100px;
}

.gap-101 {
  gap: 101px;
}

.gap-102 {
  gap: 102px;
}

.gap-103 {
  gap: 103px;
}

.gap-104 {
  gap: 104px;
}

.gap-105 {
  gap: 105px;
}

.gap-106 {
  gap: 106px;
}

.gap-107 {
  gap: 107px;
}

.gap-108 {
  gap: 108px;
}

.gap-109 {
  gap: 109px;
}

.gap-110 {
  gap: 110px;
}

.gap-111 {
  gap: 111px;
}

.gap-112 {
  gap: 112px;
}

.gap-113 {
  gap: 113px;
}

.gap-114 {
  gap: 114px;
}

.gap-115 {
  gap: 115px;
}

.gap-116 {
  gap: 116px;
}

.gap-117 {
  gap: 117px;
}

.gap-118 {
  gap: 118px;
}

.gap-119 {
  gap: 119px;
}

.gap-120 {
  gap: 120px;
}

.gap-121 {
  gap: 121px;
}

.gap-122 {
  gap: 122px;
}

.gap-123 {
  gap: 123px;
}

.gap-124 {
  gap: 124px;
}

.gap-125 {
  gap: 125px;
}

.gap-126 {
  gap: 126px;
}

.gap-127 {
  gap: 127px;
}

.gap-128 {
  gap: 128px;
}

.gap-129 {
  gap: 129px;
}

.gap-130 {
  gap: 130px;
}

.gap-131 {
  gap: 131px;
}

.gap-132 {
  gap: 132px;
}

.gap-133 {
  gap: 133px;
}

.gap-134 {
  gap: 134px;
}

.gap-135 {
  gap: 135px;
}

.gap-136 {
  gap: 136px;
}

.gap-137 {
  gap: 137px;
}

.gap-138 {
  gap: 138px;
}

.gap-139 {
  gap: 139px;
}

.gap-140 {
  gap: 140px;
}

.gap-141 {
  gap: 141px;
}

.gap-142 {
  gap: 142px;
}

.gap-143 {
  gap: 143px;
}

.gap-144 {
  gap: 144px;
}

.gap-145 {
  gap: 145px;
}

.gap-146 {
  gap: 146px;
}

.gap-147 {
  gap: 147px;
}

.gap-148 {
  gap: 148px;
}

.gap-149 {
  gap: 149px;
}

.gap-150 {
  gap: 150px;
}

.gap-151 {
  gap: 151px;
}

.gap-152 {
  gap: 152px;
}

.gap-153 {
  gap: 153px;
}

.gap-154 {
  gap: 154px;
}

.gap-155 {
  gap: 155px;
}

.gap-156 {
  gap: 156px;
}

.gap-157 {
  gap: 157px;
}

.gap-158 {
  gap: 158px;
}

.gap-159 {
  gap: 159px;
}

.gap-160 {
  gap: 160px;
}

.gap-161 {
  gap: 161px;
}

.gap-162 {
  gap: 162px;
}

.gap-163 {
  gap: 163px;
}

.gap-164 {
  gap: 164px;
}

.gap-165 {
  gap: 165px;
}

.gap-166 {
  gap: 166px;
}

.gap-167 {
  gap: 167px;
}

.gap-168 {
  gap: 168px;
}

.gap-169 {
  gap: 169px;
}

.gap-170 {
  gap: 170px;
}

.gap-171 {
  gap: 171px;
}

.gap-172 {
  gap: 172px;
}

.gap-173 {
  gap: 173px;
}

.gap-174 {
  gap: 174px;
}

.gap-175 {
  gap: 175px;
}

.gap-176 {
  gap: 176px;
}

.gap-177 {
  gap: 177px;
}

.gap-178 {
  gap: 178px;
}

.gap-179 {
  gap: 179px;
}

.gap-180 {
  gap: 180px;
}

.gap-181 {
  gap: 181px;
}

.gap-182 {
  gap: 182px;
}

.gap-183 {
  gap: 183px;
}

.gap-184 {
  gap: 184px;
}

.gap-185 {
  gap: 185px;
}

.gap-186 {
  gap: 186px;
}

.gap-187 {
  gap: 187px;
}

.gap-188 {
  gap: 188px;
}

.gap-189 {
  gap: 189px;
}

.gap-190 {
  gap: 190px;
}

.gap-191 {
  gap: 191px;
}

.gap-192 {
  gap: 192px;
}

.gap-193 {
  gap: 193px;
}

.gap-194 {
  gap: 194px;
}

.gap-195 {
  gap: 195px;
}

.gap-196 {
  gap: 196px;
}

.gap-197 {
  gap: 197px;
}

.gap-198 {
  gap: 198px;
}

.gap-199 {
  gap: 199px;
}

.gap-200 {
  gap: 200px;
}

.gap-201 {
  gap: 201px;
}

.gap-202 {
  gap: 202px;
}

.gap-203 {
  gap: 203px;
}

.gap-204 {
  gap: 204px;
}

.gap-205 {
  gap: 205px;
}

.gap-206 {
  gap: 206px;
}

.gap-207 {
  gap: 207px;
}

.gap-208 {
  gap: 208px;
}

.gap-209 {
  gap: 209px;
}

.gap-210 {
  gap: 210px;
}

.gap-211 {
  gap: 211px;
}

.gap-212 {
  gap: 212px;
}

.gap-213 {
  gap: 213px;
}

.gap-214 {
  gap: 214px;
}

.gap-215 {
  gap: 215px;
}

.gap-216 {
  gap: 216px;
}

.gap-217 {
  gap: 217px;
}

.gap-218 {
  gap: 218px;
}

.gap-219 {
  gap: 219px;
}

.gap-220 {
  gap: 220px;
}

.gap-221 {
  gap: 221px;
}

.gap-222 {
  gap: 222px;
}

.gap-223 {
  gap: 223px;
}

.gap-224 {
  gap: 224px;
}

.gap-225 {
  gap: 225px;
}

.gap-226 {
  gap: 226px;
}

.gap-227 {
  gap: 227px;
}

.gap-228 {
  gap: 228px;
}

.gap-229 {
  gap: 229px;
}

.gap-230 {
  gap: 230px;
}

.gap-231 {
  gap: 231px;
}

.gap-232 {
  gap: 232px;
}

.gap-233 {
  gap: 233px;
}

.gap-234 {
  gap: 234px;
}

.gap-235 {
  gap: 235px;
}

.gap-236 {
  gap: 236px;
}

.gap-237 {
  gap: 237px;
}

.gap-238 {
  gap: 238px;
}

.gap-239 {
  gap: 239px;
}

.gap-240 {
  gap: 240px;
}

.gap-241 {
  gap: 241px;
}

.gap-242 {
  gap: 242px;
}

.gap-243 {
  gap: 243px;
}

.gap-244 {
  gap: 244px;
}

.gap-245 {
  gap: 245px;
}

.gap-246 {
  gap: 246px;
}

.gap-247 {
  gap: 247px;
}

.gap-248 {
  gap: 248px;
}

.gap-249 {
  gap: 249px;
}

.gap-250 {
  gap: 250px;
}

.gap-251 {
  gap: 251px;
}

.gap-252 {
  gap: 252px;
}

.gap-253 {
  gap: 253px;
}

.gap-254 {
  gap: 254px;
}

.gap-255 {
  gap: 255px;
}

.gap-256 {
  gap: 256px;
}

.gap-257 {
  gap: 257px;
}

.gap-258 {
  gap: 258px;
}

.gap-259 {
  gap: 259px;
}

.gap-260 {
  gap: 260px;
}

.gap-261 {
  gap: 261px;
}

.gap-262 {
  gap: 262px;
}

.gap-263 {
  gap: 263px;
}

.gap-264 {
  gap: 264px;
}

.gap-265 {
  gap: 265px;
}

.gap-266 {
  gap: 266px;
}

.gap-267 {
  gap: 267px;
}

.gap-268 {
  gap: 268px;
}

.gap-269 {
  gap: 269px;
}

.gap-270 {
  gap: 270px;
}

.gap-271 {
  gap: 271px;
}

.gap-272 {
  gap: 272px;
}

.gap-273 {
  gap: 273px;
}

.gap-274 {
  gap: 274px;
}

.gap-275 {
  gap: 275px;
}

.gap-276 {
  gap: 276px;
}

.gap-277 {
  gap: 277px;
}

.gap-278 {
  gap: 278px;
}

.gap-279 {
  gap: 279px;
}

.gap-280 {
  gap: 280px;
}

.gap-281 {
  gap: 281px;
}

.gap-282 {
  gap: 282px;
}

.gap-283 {
  gap: 283px;
}

.gap-284 {
  gap: 284px;
}

.gap-285 {
  gap: 285px;
}

.gap-286 {
  gap: 286px;
}

.gap-287 {
  gap: 287px;
}

.gap-288 {
  gap: 288px;
}

.gap-289 {
  gap: 289px;
}

.gap-290 {
  gap: 290px;
}

.gap-291 {
  gap: 291px;
}

.gap-292 {
  gap: 292px;
}

.gap-293 {
  gap: 293px;
}

.gap-294 {
  gap: 294px;
}

.gap-295 {
  gap: 295px;
}

.gap-296 {
  gap: 296px;
}

.gap-297 {
  gap: 297px;
}

.gap-298 {
  gap: 298px;
}

.gap-299 {
  gap: 299px;
}

.gap-300 {
  gap: 300px;
}

.gap-301 {
  gap: 301px;
}

.gap-302 {
  gap: 302px;
}

.gap-303 {
  gap: 303px;
}

.gap-304 {
  gap: 304px;
}

.gap-305 {
  gap: 305px;
}

.gap-306 {
  gap: 306px;
}

.gap-307 {
  gap: 307px;
}

.gap-308 {
  gap: 308px;
}

.gap-309 {
  gap: 309px;
}

.gap-310 {
  gap: 310px;
}

.gap-311 {
  gap: 311px;
}

.gap-312 {
  gap: 312px;
}

.gap-313 {
  gap: 313px;
}

.gap-314 {
  gap: 314px;
}

.gap-315 {
  gap: 315px;
}

.gap-316 {
  gap: 316px;
}

.gap-317 {
  gap: 317px;
}

.gap-318 {
  gap: 318px;
}

.gap-319 {
  gap: 319px;
}

.gap-320 {
  gap: 320px;
}

.gap-321 {
  gap: 321px;
}

.gap-322 {
  gap: 322px;
}

.gap-323 {
  gap: 323px;
}

.gap-324 {
  gap: 324px;
}

.gap-325 {
  gap: 325px;
}

.gap-326 {
  gap: 326px;
}

.gap-327 {
  gap: 327px;
}

.gap-328 {
  gap: 328px;
}

.gap-329 {
  gap: 329px;
}

.gap-330 {
  gap: 330px;
}

.gap-331 {
  gap: 331px;
}

.gap-332 {
  gap: 332px;
}

.gap-333 {
  gap: 333px;
}

.gap-334 {
  gap: 334px;
}

.gap-335 {
  gap: 335px;
}

.gap-336 {
  gap: 336px;
}

.gap-337 {
  gap: 337px;
}

.gap-338 {
  gap: 338px;
}

.gap-339 {
  gap: 339px;
}

.gap-340 {
  gap: 340px;
}

.gap-341 {
  gap: 341px;
}

.gap-342 {
  gap: 342px;
}

.gap-343 {
  gap: 343px;
}

.gap-344 {
  gap: 344px;
}

.gap-345 {
  gap: 345px;
}

.gap-346 {
  gap: 346px;
}

.gap-347 {
  gap: 347px;
}

.gap-348 {
  gap: 348px;
}

.gap-349 {
  gap: 349px;
}

.gap-350 {
  gap: 350px;
}

.gap-351 {
  gap: 351px;
}

.gap-352 {
  gap: 352px;
}

.gap-353 {
  gap: 353px;
}

.gap-354 {
  gap: 354px;
}

.gap-355 {
  gap: 355px;
}

.gap-356 {
  gap: 356px;
}

.gap-357 {
  gap: 357px;
}

.gap-358 {
  gap: 358px;
}

.gap-359 {
  gap: 359px;
}

.gap-360 {
  gap: 360px;
}

.gap-361 {
  gap: 361px;
}

.gap-362 {
  gap: 362px;
}

.gap-363 {
  gap: 363px;
}

.gap-364 {
  gap: 364px;
}

.gap-365 {
  gap: 365px;
}

.gap-366 {
  gap: 366px;
}

.gap-367 {
  gap: 367px;
}

.gap-368 {
  gap: 368px;
}

.gap-369 {
  gap: 369px;
}

.gap-370 {
  gap: 370px;
}

.gap-371 {
  gap: 371px;
}

.gap-372 {
  gap: 372px;
}

.gap-373 {
  gap: 373px;
}

.gap-374 {
  gap: 374px;
}

.gap-375 {
  gap: 375px;
}

.gap-376 {
  gap: 376px;
}

.gap-377 {
  gap: 377px;
}

.gap-378 {
  gap: 378px;
}

.gap-379 {
  gap: 379px;
}

.gap-380 {
  gap: 380px;
}

.gap-381 {
  gap: 381px;
}

.gap-382 {
  gap: 382px;
}

.gap-383 {
  gap: 383px;
}

.gap-384 {
  gap: 384px;
}

.gap-385 {
  gap: 385px;
}

.gap-386 {
  gap: 386px;
}

.gap-387 {
  gap: 387px;
}

.gap-388 {
  gap: 388px;
}

.gap-389 {
  gap: 389px;
}

.gap-390 {
  gap: 390px;
}

.gap-391 {
  gap: 391px;
}

.gap-392 {
  gap: 392px;
}

.gap-393 {
  gap: 393px;
}

.gap-394 {
  gap: 394px;
}

.gap-395 {
  gap: 395px;
}

.gap-396 {
  gap: 396px;
}

.gap-397 {
  gap: 397px;
}

.gap-398 {
  gap: 398px;
}

.gap-399 {
  gap: 399px;
}

.gap-400 {
  gap: 400px;
}

.gap-401 {
  gap: 401px;
}

.gap-402 {
  gap: 402px;
}

.gap-403 {
  gap: 403px;
}

.gap-404 {
  gap: 404px;
}

.gap-405 {
  gap: 405px;
}

.gap-406 {
  gap: 406px;
}

.gap-407 {
  gap: 407px;
}

.gap-408 {
  gap: 408px;
}

.gap-409 {
  gap: 409px;
}

.gap-410 {
  gap: 410px;
}

.gap-411 {
  gap: 411px;
}

.gap-412 {
  gap: 412px;
}

.gap-413 {
  gap: 413px;
}

.gap-414 {
  gap: 414px;
}

.gap-415 {
  gap: 415px;
}

.gap-416 {
  gap: 416px;
}

.gap-417 {
  gap: 417px;
}

.gap-418 {
  gap: 418px;
}

.gap-419 {
  gap: 419px;
}

.gap-420 {
  gap: 420px;
}

.gap-421 {
  gap: 421px;
}

.gap-422 {
  gap: 422px;
}

.gap-423 {
  gap: 423px;
}

.gap-424 {
  gap: 424px;
}

.gap-425 {
  gap: 425px;
}

.gap-426 {
  gap: 426px;
}

.gap-427 {
  gap: 427px;
}

.gap-428 {
  gap: 428px;
}

.gap-429 {
  gap: 429px;
}

.gap-430 {
  gap: 430px;
}

.gap-431 {
  gap: 431px;
}

.gap-432 {
  gap: 432px;
}

.gap-433 {
  gap: 433px;
}

.gap-434 {
  gap: 434px;
}

.gap-435 {
  gap: 435px;
}

.gap-436 {
  gap: 436px;
}

.gap-437 {
  gap: 437px;
}

.gap-438 {
  gap: 438px;
}

.gap-439 {
  gap: 439px;
}

.gap-440 {
  gap: 440px;
}

.gap-441 {
  gap: 441px;
}

.gap-442 {
  gap: 442px;
}

.gap-443 {
  gap: 443px;
}

.gap-444 {
  gap: 444px;
}

.gap-445 {
  gap: 445px;
}

.gap-446 {
  gap: 446px;
}

.gap-447 {
  gap: 447px;
}

.gap-448 {
  gap: 448px;
}

.gap-449 {
  gap: 449px;
}

.gap-450 {
  gap: 450px;
}

.gap-451 {
  gap: 451px;
}

.gap-452 {
  gap: 452px;
}

.gap-453 {
  gap: 453px;
}

.gap-454 {
  gap: 454px;
}

.gap-455 {
  gap: 455px;
}

.gap-456 {
  gap: 456px;
}

.gap-457 {
  gap: 457px;
}

.gap-458 {
  gap: 458px;
}

.gap-459 {
  gap: 459px;
}

.gap-460 {
  gap: 460px;
}

.gap-461 {
  gap: 461px;
}

.gap-462 {
  gap: 462px;
}

.gap-463 {
  gap: 463px;
}

.gap-464 {
  gap: 464px;
}

.gap-465 {
  gap: 465px;
}

.gap-466 {
  gap: 466px;
}

.gap-467 {
  gap: 467px;
}

.gap-468 {
  gap: 468px;
}

.gap-469 {
  gap: 469px;
}

.gap-470 {
  gap: 470px;
}

.gap-471 {
  gap: 471px;
}

.gap-472 {
  gap: 472px;
}

.gap-473 {
  gap: 473px;
}

.gap-474 {
  gap: 474px;
}

.gap-475 {
  gap: 475px;
}

.gap-476 {
  gap: 476px;
}

.gap-477 {
  gap: 477px;
}

.gap-478 {
  gap: 478px;
}

.gap-479 {
  gap: 479px;
}

.gap-480 {
  gap: 480px;
}

.gap-481 {
  gap: 481px;
}

.gap-482 {
  gap: 482px;
}

.gap-483 {
  gap: 483px;
}

.gap-484 {
  gap: 484px;
}

.gap-485 {
  gap: 485px;
}

.gap-486 {
  gap: 486px;
}

.gap-487 {
  gap: 487px;
}

.gap-488 {
  gap: 488px;
}

.gap-489 {
  gap: 489px;
}

.gap-490 {
  gap: 490px;
}

.gap-491 {
  gap: 491px;
}

.gap-492 {
  gap: 492px;
}

.gap-493 {
  gap: 493px;
}

.gap-494 {
  gap: 494px;
}

.gap-495 {
  gap: 495px;
}

.gap-496 {
  gap: 496px;
}

.gap-497 {
  gap: 497px;
}

.gap-498 {
  gap: 498px;
}

.gap-499 {
  gap: 499px;
}

.gap-500 {
  gap: 500px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: left;
}

.site-header {
  padding: 20px 0;
  border-bottom: 1px solid var(--accent-white);
}

/*# sourceMappingURL=style.css.map */
