@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --container-width: 1200px;
    --accent-white: #C1C1C1;
    --primary-color: #FFCB74;
    --secondary-color: #133247;
    --font-color: #737373;
    --font-color-dark: #133247;
    --primary-font: "Oxygen", serif;
    --secondary-font: "Philosopher", serif;
}

// common css

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}


body {
    font-size: 18px;
    font-family: var(--primary-font);
    line-height: 1.77;
    color: var(--font-color);
}

.container {
    width: min(100% - 40px, var(--container-width));
    margin: 0 auto;
}

img,
video,
svg {
    display: block;
    max-width: 100%;
}

p:not(:last-child) {
    margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: var(--secondary-font);
    color: var(--font-color-dark);
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.color-primary {
    color: var(--primary-color);
}

@for $i from 1 through 500 {
    .gap-#{$i} {
        gap: #{$i}px;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: left;
}


// header css

.site-header {
    padding: 20px 0;
    border-bottom: 1px solid var(--accent-white);
    grid-template-columns: repeat(3, 1fr);
}