@use '../utils/mixins' as *;

.services {
    padding: 100px 0;
    background: #fff;

    h2 {
        margin-bottom: 50px;
    }

    .services-content {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 var(--spacing-md);
        text-align: center;

        .join-btn {
            display: inline-block;
            margin: 30px auto;
            text-align: center;
        }
    }
}

// Responsive styles
@include mobile {
    .services {
        padding: 60px 0;
        
        h2 {
            margin-bottom: 30px;
        }
    }
} 